.input {
    display: grid;
    grid-template-columns: 90% auto;
    margin-bottom: .7rem;

    &__input {
        height: 40px;
        border-radius: 10px 0 0 10px;
        border: none;
        padding: 0 10px;

        &:focus {
            overflow: auto;
            outline: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }
    }

    &__button {
        border-radius: 0 0 10px 0;
        background-color: $secondary-color-6;
        border: none;
        color: $white;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        transition: .3s all ease;

        &:hover {
            box-shadow: 0px 0px 12px -5px $secondary-color-6;
        }

        &--disable {
            background-color: $secondary-color-9;
            cursor: no-drop;

            &:hover {
                box-shadow: 0px 0px 12px -5px $secondary-color-9;
            }
        }
    }
}