@media (max-width: 1366px) {
    .container {
        width: 90% !important;
    }
}

@media (max-width: 980px) {
    .container {
        width: 95% !important;
    }
}

@media (max-width: 750px) {
    .input {
        grid-template-columns: 1fr;

        &__input {
            border-radius: 0;
        }

        &__button {
            height: 40px;
            border-radius: 0 0 10px 10px;
        }
    }
}