// $primary-color: rgb(34, 34, 34);
// $primary-color-light: lighten($primary-color, 15%);
// $primary-color-lighten: lighten($primary-color, 40%);
// $primary-color-dark: darken($primary-color, 15%);

$secondary-color-1: #f6f6f8;
$secondary-color-2: #f69810;
$secondary-color-3: #6d47dc;
$secondary-color-4: #454254;
$secondary-color-5: #f1f0f4;
$secondary-color-6: #00c7f7;
$secondary-color-7: #cac9d1;
$secondary-color-8: #646374;

$white: #FFF;
$black: #000;